* {
  margin: 0%;
  padding: 0%;
  list-style: none;
}

body {
  background-image: url("./images/fondo.jpg");
  background-size: cover;
}
nav {
  background-color: rgb(52, 50, 50);
}
h1 {
  margin: 0vh 0vh 0vh 2vh;
}

.divGlobal {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  margin: 0vh 2vh 2vh 2vh;
  min-height: 82vh;
  border: double rgba(29, 18, 13, 0.391);
  background-color: rgba(29, 18, 13, 0.667);
}
.divCardGlobal {
  /*reset*/
  margin: 0%;
  pad: 0%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
#carta {
  margin: 3vh 5vh 0vh 5vh;
}

/*admin*/
.divFormAdmin {
  text-align: center;
  margin: 0vh 2vh 0vh 2vh;
}
.liFormAdmin {
  display: flex;
  flex-direction: column;
}

.divTablaAdmin {
  text-align: center;
  width: 140vh;
  margin: 0vh 2vh 0vh 2vh;
}
.overflowTable {
  margin-top: 33px;
  height: 470px;
  overflow: auto;
}
thead{
  position: absolute;  
}



/*Contacto*/
.FormContacto {
  margin-top: 10vh;
  width: 70vh;
}
